version: '3'

services:
  detection-vis-ui:
    build: 
      dockerfile: detection-vis-ui/Dockerfile
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
    ports:
      - 8501:8501
    depends_on:
      - detection-vis-backend
    volumes:
        - ./storage:/storage
  
  detection-vis-backend:
    build: 
      dockerfile: detection-vis-backend/Dockerfile
    environment:
      - PYTHONPATH=/opt
      - DB_HOST=0.0.0.0
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PSWD=postgres
      - DB_NAME=postgres
    ports:
      - 8001:8001
    volumes:
      - ./storage:/storage
      - /home/kangle/.ssh/id_rsa_mifcom:/opt/id_rsa
    depends_on:
      db:
        condition: service_healthy

  db:
    image: "postgres:14"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
